body {
    margin: 0;
    font-family: Arial;
    padding-bottom: 100px;
    text-transform: capitalize;
}


/*main*/

.top {
    text-align: center;
    margin-bottom: 50px;
}

main {
    padding-left: 50px;
    padding-right: 50px;
    display: grid;
    grid-template-columns: 350px 350px 350px;
    row-gap: 50px;
    column-gap: 50px;
}

.subject {
    width: 350px;
    height: 250px;
    box-shadow: 2px 10px 28px 0px rgba(41, 22, 110, 0.64);
    background-color: white;
    text-align: center;
    padding-top: 30px;
}

.preview {
    width: 100px;
    height: 35px;
    background-color: rgba(41, 22, 110, 1);
    color: white;
    border: none;
    margin-top: 50px;
    cursor: pointer;
}

.preview:hover {
    opacity: 0.8;
}

.preview:active {
    opacity: 0.6;
}


/*header*/

header {
    background-color: rgba(255, 253, 199, 1);
    width: 100%;
    margin-bottom: 20px;
    margin-right: 50px;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 50px;
}

nav h1 {
    text-transform: capitalize;
    font-size: 44px;
    font-weight: 500;
}

a {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.laj-logo {
    height: 100px;
}


/*footer*/

footer {
    background-color: rgba(41, 22, 110, 1);
    color: white;
    width: 100%;
    margin-top: 50px;
    position: fixed;
    bottom: 0;
    z-index: 100;
    margin-top: 50px;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.foot-link {
    color: white;
}

.foot-logo {
    height: 150px;
}

.foot-ul {
    display: flex;
    margin-right: 0px;
}

.foot-li {
    list-style: none;
    margin-left: 10px;
}

.foot-left {
    display: flex;
}

.foot-right {
    display: flex;
    align-items: top;
    justify-content: space-between;
}

.foot-quick {
    margin-right: 50px;
    margin-top: 35px;
}

.copyright {
    padding-top: -1px;
    padding-bottom: 1px;
    padding-left: 75px;
    padding-right: 75px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.social {
    margin-right: 20px;
    margin-top: 5px;
    height: 20px;
}


/*responsiveness*/

@media (min-width:1440px) {
    main {
        grid-template-columns: 350px 350px 350px 350px;
        place-content: center;
    }
}

@media (min-width:1024px) and (max-width:1439px) {
    main {
        grid-template-columns: 350px 350px 350px;
        place-content: center;
    }
}

@media (min-width:768px) and (max-width:1023px) {
    main {
        grid-template-columns: 350px 350px;
        place-content: center;
    }
}

@media (max-width:767px) {
    main {
        grid-template-columns: 350px;
        place-content: center;
    }
}