{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Examination</title>
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <link rel="stylesheet" href="{% static 'css/exam.css' %}">
</head>

<body>
    <header>
        <nav>
            <img class="laj-logo" src="{% static 'images/Lajfort-logo.png' %}" alt="">
            <h2 class="exam-title">{{exam.title}}</h2>
            <div class="timer">
                <h2 id="timer"></h2>
            </div>
        </nav>
    </header>
    <main class="exam">
        {% for q in exam_p %}
        <hr>
        <form action="" name="exam-form" method="post">
            {% csrf_token %}
            <div class="e-div">
                <p class="qst">{{q.question}}</p>
                <input type="hidden" name="answer" class="answer" value="{{q.solution}}">
                <input type="hidden" name="score" class="score" value="">
                <h4 class="opt"><input type="checkbox" value="{{q.option1}}" class="input">A.{{q.option1}} </h4>
                <h4 class="opt"><input type="checkbox" value="{{q.option2}}" class="input">B.{{q.option2}} </h4>
                <h4 class="opt"><input type="checkbox" value="{{q.option3}}" class="input">C.{{q.option3}} </h4>
                <h4 class="opt"><input type="checkbox" value="{{q.option4}}" class="input">D.{{q.option4}} </h4>
            </div>
            {% endfor %} {% if exam_p.has_previous %}
            <a href="?page={{exam_p.previous_page_number}}" id="previous" class="previous">Previous</a> {% endif %} {% if exam_p.has_next %}
            <a href="?page={{exam_p.next_page_number}}" id="next" class="next" onclick="getAnswer();">Next</a>{% else %}
            <input type="submit" id="next" class="next js-finish" onclick="getAnswer();
            localStorage.removeItem('score');
            " value="Finish"> {% endif %}
            <br><br>
            <hr>
            <div class="end">
                <input type="submit" class="end-exam js-finish" onclick="getAnswer();
                localStorage.removeItem('score');
                " value="Submit Exam">
            </div>
        </form>
    </main>
    <footer>
        <div class="copyright">
            <h4>Copyright &copy; 2024.All rights reservered.</h4>
            <div>
                <img src="{% static 'images/Lajfort-foot-youtube.png' %}" class="social" alt="">
                <img src="{% static 'images/Lajfort-foot-instagram.png' %}" class="social" alt="">
                <img src="{% static 'images/Lajfort-foot-facebook.png' %}" class="social" alt="">
                <img src="{% static 'images/Lajfort-foot-twitter.png' %}" class="social" alt="">
            </div>
        </div>
    </footer>
    <script>
        const endTime = new Date("{{ end_time }}").getTime();
        const x = setInterval(function() {
            const now = new Date().getTime();
            const distance = endTime - now;

            const hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
            const minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
            const seconds = Math.floor((distance % (1000 * 60)) / 1000);

            document.getElementById("timer").innerHTML = hours + ":" + minutes + ":" + seconds;

            if (distance < 0) {
                clearInterval(x);
                document.getElementById("timer").innerHTML = "EXAM OVER";
                window.location.href = "result/{{exam.id}}"
                document.getElementById("exam-form").submit();
            }
        }, 1000);


        function getAnswer() {
            let defaultScore = 0;
            let storedScore = localStorage.getItem('score')
            const correctAnswerElement = document.querySelector('.answer').value;
            const answers = document.querySelectorAll('.input');
            const checkedBoxes = Array.from(answers).filter(checkbox => checkbox.checked);
            const pickedAnswer = checkedBoxes.map(checkbox => checkbox.value);
            pickedAnswer.forEach(answer => {
                if (answer === correctAnswerElement) {
                    if (storedScore === null) {
                        defaultScore++;
                        localStorage.setItem('score', defaultScore);
                        let score = document.querySelector('.score');
                        score.value = storedScore;
                    } else {
                        defaultScore = parseInt(storedScore);
                        defaultScore++;
                        localStorage.setItem('score', defaultScore);
                        let score = document.querySelector('.score');
                        score.value = storedScore;
                    };
                };
            });
        };

        document.querySelectorAll('.js-finish').addEventListener('click', () => {
            localStorage.removeItem('score');
        });

        const form = document.querySelector('.exam-form');
        const scoreInput = document.querySelector('.score');

        form.addEventListener('submit', (e) => {
            e.preventDefault();
            const score = scoreInput.value;
            const formData = new FormData(form);
            formData.append('score', score);

            fetch('preview/examination/{{exam.id}}', {
                    method: 'POST',
                    body: formData,
                    headers: {
                        'X-CSRFToken': '{{ csrf_token }}'
                    }
                })
                .then((data) => data);
        });
    </script>
</body>

</html>