{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
</head>

<body>
    <header>
        <nav>
            <img class="laj-logo" src="{% static 'images/Lajfort-logo.png' %}" alt="">
            <h1>Welcome,{{request.user}}</h1><br>
        </nav>
    </header>
    {% if exam %}
    <h1 class="top">Available Tests for {{ clas }} Students</h1>
    <main>
        {% for exam in exam %}
        <div class="subject">
            <h3>{{exam.title}}</h3>
            <div>
                <p>{{exam.description|truncatechars:45}}</p>
                <p>{{exam.total_question}} questions</p>
            </div>
            <a href="preview/{{exam.id}}"><input type="submit" class="preview" value="Preview Exam"></a>
        </div>
        {% endfor %}
    </main>
    {% else %}
    <h1 class="top">There is no Available Tests for your class</h1>
    {% endif %}
    <footer>
        <!--<div class="footer">
            <div class="foot-left">
                <img src="{% static 'images/Lajfort-logo.png' %}" class="foot-logo" alt="">
            </div>
        </div>
        <hr>-->
        <div class="copyright">
            <h4>Copyright &copy; 2024.All rights reservered.</h4>
            <div>
                <img src="{% static 'images/Lajfort-foot-youtube.png' %}" class="social" alt="">
                <img src="{% static 'images/Lajfort-foot-instagram.png' %}" class="social" alt="">
                <img src="{% static 'images/Lajfort-foot-facebook.png' %}" class="social" alt="">
                <img src="{% static 'images/Lajfort-foot-twitter.png' %}" class="social" alt="">
            </div>
        </div>
    </footer>
</body>

</html>